html {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 1.8vmax;
  height: auto;
  margin: 0.3vmax;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo {
  width: 10vmax;
  /* height: 6vmax; */
}

.img-header {
  width: 15vmax;
}

.top {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 3vmax;
  border-bottom-right-radius: 3vmax;
}

.quote {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  border-radius: 3vmax;

}

p {
  text-align: justify;
  margin: 1vmax;
  font-weight: 100;
  font-size: 1.3vmax;
  padding: 1vmax;
}

.img-header {
  margin: 2vmax;
  border: double 0.3vmax orange;
  border-radius: 3vmax;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-block: 1vmax;
}



.author {
  font-size: 1.4vmax;
  color: orange;
}

.main .items img {
  width: 18vmax;
  margin: 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  border: double 0.3vmax orange;
  border-bottom-left-radius: 3vmax;

}

.item-txt {
  font-size: 1vmax;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 3.5vmax;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 10vmax;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
  transform: scale(1.2, 1.2);
  transform-origin: 50% 50%;
}