html {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgba(0, 0, 0);
}

.center-screen {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  height: 98vh;
  width: 50vw;
  margin: auto;
  /* background-color: rgb(52, 52, 52); */
  border: solid 1px white;
}

.footer {
  margin-top: auto;
  background-color: rgb(0, 0, 0);
  border: solid 1px white;
}

.header {
  border: solid 1px white;
}

.top .right div {
  display: flex;
  height: 30px;
  margin: 10px;
}

.top,
.bottom {
  display: flex;
  background-color: rgb(0, 0, 0);
  /* margin: 20px; */
  border: solid 1px white;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: center;
  margin-inline-start: auto;
  border: solid 1px white;
}

.main .top {
  display: flex;
  /* flex: 1; */
  /* align-items: center; */
  justify-content: space-around;
  padding: 30px;
}

.main .middle {
  padding: 30px;
  text-align: justify;
}

.main .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
}

.bottom #left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}